.heightlight{
  background-color:#29b3feb4 ;
  padding: 10px;
  border-radius:8px;
}
nav{
    span{
        color:black !important;
    }
    .bk-tr{
        background: none !important;
        .accordionStyle{
            background:none !important;
     }
     .lasdiv{
        background:none !important;

     }

    }

}

.font-open{
  font-family: 'Open Sans', sans-serif;
}




