<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand font-open" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>


      <div class="dropdown  me-3">
        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fas fa-user-circle fs-5"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <a class="dropdown-item waves-light font-open cur" mdbWavesEffect (click)="logout()">{{"Log out" | translate}}</a>
          <li><a class="dropdown-item font-open cur" routerLink="Profile">{{"Profile" | translate}}</a></li>
        </ul>
      </div>

      <h3 class="mr-3 fw-bolder pt-3 "> {{userName}} </h3>
      <button class="btn btn-warning" (click)="changecurrentLang('ar')">Ar</button>
      <button class="btn btn-success" (click)="changecurrentLang('en')">EN</button>
      <!-- <div class="dropdown  me-3">
        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fas fa-flag fs-5"></i>
        </button>
        <select class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
          <option><a class="dropdown-item font-open cur" (click)="translate.use('ar')" mdbWavesEffect >Arabic</a></option>
          <option><a class="dropdown-item font-open cur" (click)="translate.use('en')" mdbWavesEffect >English</a></option>
        </select>
      </div> -->


      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-warning font-open" type="submit">{{"Search" | translate}}</button>
      </form>
    </div>

  </div>

</nav>
