
<div class="container">
  <div class="drop">
    <select>
      <option selected="selected">All</option>
      <option>Android</option>
      <option>Cloude</option>
      <option>Web</option>
      <option>SEO</option>
    </select>

    <div class="search">
      <form class=" input-group">
        <div class="input-group ">
          <input type="search" class="search-inp"  placeholder="search">
        </div>
      </form>
    </div>
  </div>
  </div>
  <br>

<div class="container">
<div class="row">
<!-- <button (click)="ProjectService()">Show All</button>   -->
<div class="project-card col-md-12 " *ngFor="let project of projects">
<div class="card text-left " >
 <!-- <h2 class="pad-lef">{{project.catigori}}</h2>  -->
<div class="card-body">
  <h1 class="card-title title-color">{{project.projectName}} </h1>
  <h3 class="card-text">{{project.description}}</h3>
  <p class="card-text">{{project.state}}</p>
  <h4 class="card-text">{{project.budget | currency:'USD'}}</h4>
</div>
<div class="card-footer">
<a href="javascript:void(0)" class="btn btn-warning m-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
  (click)="Edite(project._id)" >Edit</a>
<a href="javascript:void(0)" class="btn btn-danger m-1"  (click)="delete(project._id)">Delete</a>
</div>
</div>
<br>
</div>
</div>
</div>
<!-- <a href="javascript:void(0)" class="btn btn-primary m-1" (click)="viewDetails(project.id)">Edite</a>  -->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<!-- //---------------------------------------------------**reactive form**--------------------------------------------// -->
<div class="modal-body">
  <form class="row g-3" [formGroup]="editform" (ngSubmit)="update()"  >
    <input type="number" class="form-control d-none" id="Projectid" formControlName="id" required>
    <div class="col-md-12">
        <label for="ProjectName" class="form-label">Project Name</label>
        <input type="type" class="form-control" id="ProjectName" formControlName="name" >
    </div>
    <div class="col-md-12">
      <label for="ProjectState" class="form-label">Project State</label>
      <input type="text" class="form-control" id="ProjectState" formControlName="state" >
    </div>
    <div class="col-md-12">
      <label for="ProjectBudget" class="form-label">Project Budget</label>
      <input type="number" class="form-control" id="ProjectBudget" formControlName="budget"  >
    </div>
    <div class="col-md-12 mb-3">
      <label for="ProjectDescription" class="form-label">Project Description</label>
      <textarea class="form-control" id="ProjectDescription" formControlName="description"  rows="3">
       </textarea>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" id="cancel" data-bs-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
<!-- //---------------------------------------------------**reactive form**--------------------------------------------// -->
</div>

</div>
</div>
</div>



















